<?xml version="1.0" encoding="utf-8"?>
<EventMap xmlns:mx="http://www.adobe.com/2006/mxml" xmlns="http://mate.asfusion.com/">
	
	<!--
		To activate the DebugEventMap, add "-define=CONFIG::debug,true" to your Flex compiler settings.
	-->
	
	<mx:Script>
		<![CDATA[
			import mx.events.*;
			import org.antigone.events.*;
			import org.antigone.business.*;
			import org.antigone.adapters.*;
		]]>
	</mx:Script>
	
	<!-- Create a DebugManager instance -->
	<EventHandlers type="{FlexEvent.PREINITIALIZE}">
		<ObjectBuilder generator="{DebugManager}" constructorArguments="{scope.dispatcher}"/>
	</EventHandlers>
		
	<!-- Log a test user automatically -->
	<EventHandlers type="{FlexEvent.APPLICATION_COMPLETE}">
		<MethodInvoker generator="{DebugManager}" method="ConnectUser" arguments="{['testuser', 'testuser']}" />
	</EventHandlers>
		
</EventMap>
